# .NET build outputs
bin/
obj/
/packages/
*.dll
*.exe
*.pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
.vsconfig
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
.vscode/
# Uncomment if you're not using Visual Studio Code
# .vscode/

# Publish profiles and publish-related items
**/Properties/PublishProfiles/
**/Properties/ServiceDependencies/
*.pubxml
*.pubxml.user
*.publishsettings
PublishScripts/

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
# Uncomment if you have NuGet Package Restore disabled
# packages/
*.nuget.props
*.nuget.targets

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Coverage results
*.coverage
*.coveragexml
[Cc]overage/

# Local history
.localhistory/

# JetBrains Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.appx

# Windows shortcuts
*.lnk